html,
body{
  margin: 0;
}
html{
  background:#eee;
  padding: 20px;
}
body{
  background: #fff;
  font-size:12px;
}
button{
  padding: 10px;
}
.el{
  margin: 10px;
  width: 70px;
  height: 30px;
  text-align: center;
  background: #ff5577;
  color:#fff;
}
.focus{
  color: #ffffaa;
}
.info{
  position:fixed;
  bottom:0;
  width:100%;
  overflow-x:scroll;
  background: #000;
  color: #ccc;
  padding:4px;
}
.infoContents{
  min-width:1000px;
}


.info .name{
  display: inline-block;
  width:170px;
}
.info .value{
  display: inline-block;
}
.other{
  background:#ddd;
  text-align: center;
}
.col{
  display: inline-block;
  vertical-align: top;
}

